@import '../../variables.scss';

.root {
  margin: 3rem;
  width: 300px;
  height: fit-content;
  box-shadow: 1px 1px 5px $grey3;
  padding: 2rem;
  border-radius: 10px;
  background-color: $white;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid $black;
  padding-bottom: 1rem;

  .icon {
    color: $grey3;
  }

  .title {
    font-size: $font-size-lg;
    font-weight: 700;
    margin-left: 1rem;
  }
}